@model CRMBytholod.ViewModels.CallClientOrderVM

@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Карточка клиента- CRM Бытхолод</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="https://cdn.voximplant.com/edge/voximplant.min.js"></script>
</head>
<body>



    <br />
    <div class="col-md-4 offset-1">
        <div class="form-group">
            <label class="control-label font-weight-bold">Дата ожидания клиента</label>
            <label class=""><b>@Html.DisplayFor(model => model.order.GetDATA)</b></label>
        </div>
    </div>

    <div>
        <hr />

        @switch (Model.order.STATUS.NameStatus)
        {
            case "В ОЖИДАНИИ":<span class="label " style='background-color:@Model.order.STATUS.ColorHex; padding: 6px; margin: 100px;'>@Model.order.STATUS.NameStatus</span> break;
        case "ПОВТОР": <span class="label " style='background-color:@Model.order.STATUS.ColorHex; padding: 6px; margin: 100px;'>@Model.order.STATUS.NameStatus</span> break;
    case "ОТКАЗ": <span class="label " style='background-color:@Model.order.STATUS.ColorHex; padding: 6px; margin: 100px;'>@Model.order.STATUS.NameStatus</span> break;
case "В РАБОТЕ": <span class="label " style='background-color:@Model.order.STATUS.ColorHex; padding: 6px; margin: 100px;'>@Model.order.STATUS.NameStatus</span> break;
case "ВЫПОЛНЕН": <span class="label " style='background-color:@Model.order.STATUS.ColorHex; padding: 6px; margin: 100px;'>@Model.order.STATUS.NameStatus</span> break;
default: @Model.order.STATUS.NameStatus; break;
}
        <hr />

        <div class="col-md-4 offset-1">
            <div class="form-group">
                <label class="control-label font-weight-bold">Время ожидания</label>
                <label class=""><b>@Html.DisplayFor(model => model.order.VREMJA)</b></label>
            </div>
        </div>


        <div class="row">
            @* сохраням номер мастера, с которого будет осуществляться звонок клиенту *@
            <input hidden="hidden" id="PhoneMaster" value="@Model.order.USER_MASTER.Phone" />

            <div class="col-md-4 offset-1">
                <div class="form-group">
                    <label class="control-label ">Холодильник дефект</label>
                    <label class="font-weight-bold">@Html.DisplayFor(model => model.order.HOLODILNIK_DEFECT)</label>
                </div>
                <div class="form-group">
                    <label class="control-label ">Имя клиента</label>
                    <label class="font-weight-bold">@Html.DisplayFor(model => model.order.NameClient)</label>
                </div>
                <div class="form-group">
                    <label class="control-label ">Адрес</label>
                    <label class="font-weight-bold">@Html.DisplayFor(model => model.order.GetAdresFull)</label>
                    <label class="font-weight-bold">@Html.DisplayFor(model => model.order.GetAdres2)</label>
                </div>

                <div class="form-group">
                    <label class="control-label ">Организация</label>
                    <label class="font-weight-bold">@Html.DisplayFor(model => model.order.ORGANIZATION.NameOrg)</label>
                </div>

                <div class="form-group">
                    <label class="control-label ">Заявка является повтором</label>
                    <label class="font-weight-bold">@Html.DisplayFor(model => model.order.GetPovtor)</label>
                </div>

                <div class="form-group">
                    <label class="control-label ">Примечание</label>
                    <label class="font-weight-bold">@Html.DisplayFor(model => model.order.PRIMECHANIE)</label>
                </div>


                <div class="form-group">
                    <label class="control-label font-weight-bold">Контакты</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" checked name="radio" value="@Model.order.GetMsisdn1">
                            </div>
                        </div>
                        <input type="text" readonly class="form-control" value="@Model.order.GetMsisdn1Mask">
                    </div>

                    @if (Model.order.GetMsisdn2Mask.Length > 0)
                    {
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="radio" name="radio" value="@Model.order.GetMsisdn2">
                                </div>
                            </div>
                            <input type="text" readonly class="form-control" value="@Model.order.GetMsisdn2Mask">
                        </div>
                    }

                    @if (Model.order.GetMsisdn3Mask.Length > 0)
                    {
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="radio" name="radio" value="@Model.order.GetMsisdn3">
                                </div>
                            </div>
                            <input type="text" readonly class="form-control" value="@Model.order.GetMsisdn3Mask">
                        </div>
                    }

                </div>

                <input type="button" class="btn btn-call-size" id="CallBut" value="ВЫЗОВ" onclick="makecall()" />

            </div>


            <div class="col-md-2">

                <div class="form-group">
                </div>
            </div>

        </div>
    </div>





    <script type="text/javascript">
        var initialized = false, // SDK загружено
            loggedIn = false, // пользователь авторизован
            connected = false,

            call_active = false, // получено соединение с VoxImplant сервером

            numRadButActive = "",// какой номер выбран
            strLogin = "xamar@call.holodec.voximplant.com",
            phoneMaster = document.getElementById('PhoneMaster').defaultValue


        const voxImplant = VoxImplant.getInstance();

        // добавляем прослушивателей основных событий
        // событие загрузки SDK
        voxImplant.addEventListener(VoxImplant.Events.SDKReady, handleSDKReady);
        // событие установки соединения с сервером VoxImplant
        voxImplant.addEventListener(VoxImplant.Events.ConnectionEstablished, handleConnectionEstablished);
        // событие авторизации пользователя на сервере VoxImplant
        voxImplant.addEventListener(VoxImplant.Events.AuthResult, handleAuthResult);

        voxImplant.showDebugInfo = true;// DEBUG

        if (!initialized) voxImplant.init();
        else {
            // если не установлено соединение с сервером VoxImplant - устанавливаем
            if (!voxImplant.connected()) voxImplant.connect();
            else {
                // если юзер не авторизован - авторизуем, если авторизован - звоним
                if (!loggedIn) login();
            }
        }
        // SDK загружен, соединяемся с VoxImplant сервером
        function handleSDKReady() {
            initialized = true;
            voxImplant.connect();
        }

        // соединились с VoxImplant сервером успешно, авторизуем юзера
        function handleConnectionEstablished() {
            connected = true;
            login();
        }

        // проверяем статус авторизации
        function handleAuthResult(e) {
            if (e.result) {
                // Авторизовались успешно
                loggedIn = true;
                //makecall();
            }
        }

        // проводим авторизацию
        function login() {
            // данные созданного пользователя и приложения
            //voxImplant.login("user@call2.holodec.voximplant.com", "1qazxsw2");


            if (phoneMaster == "79993331856")
                strLogin = "xamar@call.holodec.voximplant.com";

            if (phoneMaster == "79993334728")
                strLogin = "xamar@call2.holodec.voximplant.com";

            voxImplant.login(strLogin, "Xi67yoRi");




        }

        function makecall() {

            var elem = document.getElementById('CallBut');


            if (loggedIn) {

                if (call_active == false) {
                    //console.log('call 79099578732...');

                    check();// проверка какой номер выбран

                    elem.value = 'ЗАВЕРШИТЬ';
                    elem.style.backgroundColor = "#d51024";

                    var call = voxImplant.call(numRadButActive);
                    call_active = true;
                }
                else {

                    //console.log('call END 79099578732...');

                    elem.value = 'ВЫЗОВ';
                    elem.style.backgroundColor = "#28a745";

                    location.reload();
                    call_active = false;

                }
            }

        }



        function check()// check rad but
        {
            var inp = document.getElementsByName('radio');
            for (var i = 0; i < inp.length; i++) {
                if (inp[i].type == "radio" && inp[i].checked) {
                    // alert("selected: " + inp[i].value);
                    numRadButActive = inp[i].value;
                }
            }
        }


    </script>







    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CRM Бытхолод
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  @*  <script src="~/js/site.js" asp-append-version="true"></script>*@
</body>
</html>