@model CRMBytholod.ViewModels.OrderDetailVM

@{
    ViewData["Title"] = "Детали заявки";
}

<h1>Детали заявки</h1>


<hr />

@if (Model.order.STATUS.ID_STATUS != 5 && Model.order.STATUS.ID_STATUS != 3)
{
    <div>
        <b>@Html.ActionLink("Редактировать", "EditOrder", new { ID_ZAKAZ = Model.order.ID_ZAKAZ })</b>
    </div>
}
<br />

@switch (Model.order.STATUS.NameStatus)
{
    case "В ОЖИДАНИИ":<span class="label" style='background-color:@Model.order.STATUS.ColorHex; padding: 6px;'>@Model.order.STATUS.NameStatus</span> break;
case "ПОВТОР": <span class="label" style='background-color:@Model.order.STATUS.ColorHex; padding: 6px;'>@Model.order.STATUS.NameStatus</span> break;
case "ОТКАЗ": <span class="label" style='background-color:@Model.order.STATUS.ColorHex; padding: 6px;'>@Model.order.STATUS.NameStatus</span> break;
case "В РАБОТЕ": <span class="label" style='background-color:@Model.order.STATUS.ColorHex; padding: 6px;'>@Model.order.STATUS.NameStatus</span> break;
case "ВЫПОЛНЕН": <span class="label" style='background-color:@Model.order.STATUS.ColorHex; padding: 6px;'>@Model.order.STATUS.NameStatus</span> break;
default: @Model.order.STATUS.NameStatus; break;
}

<div>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label font-weight-bold">Холодильник дефект</label> <br />
                <label class="">@Html.DisplayFor(model => model.order.HOLODILNIK_DEFECT)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Имя клиента</label><br />
                <label class="">@Html.DisplayFor(model => model.order.NameClient)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Улица</label><br />
                <label>@Html.DisplayFor(model => model.order.STREET)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Дом</label><br />
                <label class="">@Html.DisplayFor(model => model.order.HOUSE)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Корпус</label><br />
                <label class="">@Html.DisplayFor(model => model.order.KORPUS)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Квартира</label><br />
                <label class="">@Html.DisplayFor(model => model.order.KVARTIRA)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Подъезд</label><br />
                <label class="">@Html.DisplayFor(model => model.order.PODEST)</label>
            </div>

            <div class="form-group">
                <label class="control-label font-weight-bold">Этаж</label><br />
                <label class="">@Html.DisplayFor(model => model.order.ETAG)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Код домофона</label><br />
                <label class="">@Html.DisplayFor(model => model.order.KOD_DOMOFONA)</label>
            </div>

            <div class="form-group">
                <label class="control-label font-weight-bold">Организация</label><br />
                <label class="">@Html.DisplayFor(model => model.order.ORGANIZATION.NameOrg)</label>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label font-weight-bold">Дата ожидания клиента</label><br />
                <label class="">@Html.DisplayFor(model => model.order.GetDATA)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Время ожидания</label><br />
                <label class="">@Html.DisplayFor(model => model.order.VREMJA)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Основной номер</label><br />
                <label class="">@Html.DisplayFor(model => model.order.Msisdn1)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Доп номер 2</label><br />
                <label class="">@Html.DisplayFor(model => model.order.Msisdn2)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Доп номер 3</label><br />
                <label class="">@Html.DisplayFor(model => model.order.Msisdn3)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Дата создания</label><br />
                <label class="">@Html.DisplayFor(model => model.order.DateAdd)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Дата отправки Мастеру</label><br />
                <label class="">@Html.DisplayFor(model => model.order.DateSendMaster)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Дата открытия Мастером</label><br />
                <label class="">@Html.DisplayFor(model => model.order.DateOpenMaster)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Дата закрытия </label><br />
                <label class="">@Html.DisplayFor(model => model.order.DateClose)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Описание закрытия (в случае отказа)</label><br />
                <label class="">@Html.DisplayFor(model => model.order.DescripClose)</label>
            </div>

        </div>
        <div class="col-md-4">

            <div class="form-group">
                <label class="control-label font-weight-bold">Мастер</label><br />
                <label class="">@Html.DisplayFor(model => model.order.USER_MASTER.Name)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Создал заявку</label><br />
                <label class="">@Html.DisplayFor(model => model.order.USER_ADD.Name)</label>
            </div>

            <div class="form-group">
                <label class="control-label font-weight-bold">Примечание</label><br />
                <label class="">@Html.DisplayFor(model => model.order.PRIMECHANIE)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Получено средств</label><br />
                <label class="">@Html.DisplayFor(model => model.order.GetMoneyAll)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Потрачено на детали</label><br />
                <label class="">@Html.DisplayFor(model => model.order.GetMoneyDetal)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">В фирму</label><br />
                <label class="">@Html.DisplayFor(model => model.order.GetMoneyFirm)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Прибыль Мастера</label><br />
                <label class="">@Html.DisplayFor(model => model.order.GetMoneyMaster)</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Заявка является повтором</label><br />
                <label>@Html.DisplayFor(model => model.order.GetPovtor)</label>
            </div>
        </div>
    </div>

</div>


<h3>История изменения статуса</h3>

@* Вывод истории статусов *@
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Статус
            </th>
            <th>
                Дата изменения
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.logStatusOrder)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateChange)
                </td>
            </tr>
        }
    </tbody>
</table>




@* Вывод предыдущих заявок, если они есть *@
@if (Model.PrevOrders.Count > 0)
{
    <br />
    <h3>Предыдущие заявки клиента</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Холодильник дефект
                </th>
                <th>
                    Имя клиента
                </th>
                <th>
                    Адрес
                </th>
                <th>
                    Дата
                </th>
                <th>
                    Время
                </th>
                <th>
                    Номер
                </th>
                <th>
                    Мастер
                </th>
                <th width="150">
                    Status
                </th>
                <th>
                    Дата создания
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PrevOrders)
            {
                <tr>
                    <td>
                        <a asp-action="DetailOrder" asp-route-id_zakaz="@item.ID_ZAKAZ"><b>@item.HOLODILNIK_DEFECT</b></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GetAdresFull)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GetDATA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VREMJA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Msisdn1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USER_MASTER.Name)
                    </td>
                    <td>
                        @switch (item.STATUS.NameStatus)
                        {
                            case "В ОЖИДАНИИ":<span class="label" style='background-color:@item.STATUS.ColorHex; padding: 6px;'>@item.STATUS.NameStatus</span> break;
                        case "ПОВТОР": <span class="label" style='background-color:@item.STATUS.ColorHex; padding: 6px;'>@item.STATUS.NameStatus</span> break;
                    case "ОТКАЗ": <span class="label" style='background-color:@item.STATUS.ColorHex; padding: 6px;'>@item.STATUS.NameStatus</span> break;
                case "В РАБОТЕ": <span class="label" style='background-color:@item.STATUS.ColorHex; padding: 6px;'>@item.STATUS.NameStatus</span> break;
            case "ВЫПОЛНЕН": <span class="label" style='background-color:@item.STATUS.ColorHex; padding: 6px;'>@item.STATUS.NameStatus</span> break;
        default: @item.STATUS.NameStatus; break;
}

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdd)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
