@model CRMBytholod.ViewModels.OrderDetailVM

@{
    ViewData["Title"] = "Детали заявки";
}
<h1>Детали заявки</h1>


<hr />

@if (Model.order.STATUS.ID_STATUS != 3 && Model.order.STATUS.ID_STATUS != 5)
{
    <div>
        <b>@Html.ActionLink("Редактировать", "EditOrder", new { ID_ZAKAZ = Model.order.ID_ZAKAZ })</b>
    </div>
    <br />
}

@if (Model.order.STATUS.ID_STATUS != 3)
{

    <div>
        <b>@Html.ActionLink("Отказная заявка", "CloseOrder", new { ID_ZAKAZ = Model.order.ID_ZAKAZ })</b>
    </div>
    <br />
}

@switch (Model.order.STATUS.NameStatus)
{
    case "В ОЖИДАНИИ":<span class="label" style='background-color:@Model.order.STATUS.ColorHex; padding: 6px;'>@Model.order.STATUS.NameStatus</span> break;
case "ПОВТОР": <span class="label" style='background-color:@Model.order.STATUS.ColorHex; padding: 6px;'>@Model.order.STATUS.NameStatus</span> break;
case "ОТКАЗ": <span class="label" style='background-color:@Model.order.STATUS.ColorHex; padding: 6px;'>@Model.order.STATUS.NameStatus</span> break;
case "В РАБОТЕ": <span class="label" style='background-color:@Model.order.STATUS.ColorHex; padding: 6px;'>@Model.order.STATUS.NameStatus</span> break;
case "ВЫПОЛНЕН": <span class="label" style='background-color:@Model.order.STATUS.ColorHex; padding: 6px;'>@Model.order.STATUS.NameStatus</span> break;
default: @Model.order.STATUS.NameStatus; break;
}

@* Вывод инфо о заявке (NEW) *@
<hr />


<div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="order.DATA" class="control-label">Дата ожидания клиента</label>
                @*<input asp-for="DATA" class="form-control" />*@
                <input type="date" readonly asp-for="order.DATA" class="form-control">
                <span asp-validation-for="order.DATA" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Выбрать мастера</label>
                <select asp-for="order.USER_MASTER.ID_USER" readonly class="form-control">
                    <option value="@Model.order.USER_MASTER.ID_USER">@Model.order.USER_MASTER.Name</option>
                </select>
                <span asp-validation-for="order.USER_MASTER.ID_USER" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Организация</label>
                <select asp-for="order.ORGANIZATION.ID_ORGANIZATION" readonly class="form-control">
                    <option value="@Model.order.ORGANIZATION.ID_ORGANIZATION">@Model.order.ORGANIZATION.NameOrg</option>
                </select>
                <span asp-validation-for="order.ORGANIZATION.ID_ORGANIZATION" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="order.City" class="control-label">Населенный пункт</label>
                <input asp-for="order.City" class="form-control" value="Москва" readonly />
                <span asp-validation-for="order.City" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="order.STREET" class="control-label">Улица</label>
                <input asp-for="order.STREET" class="form-control" readonly />
                <span asp-validation-for="order.STREET" class="text-danger"></span>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-1">

            <div class="form-group">
                <label asp-for="order.HOUSE" class="control-label">Дом</label>
                <input asp-for="order.HOUSE" class="form-control" readonly />
                <span asp-validation-for="order.HOUSE" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-1">

            <div class="form-group">
                <label asp-for="order.KORPUS" class="control-label">Корпус</label>
                <input asp-for="order.KORPUS" class="form-control" readonly />
                <span asp-validation-for="order.KORPUS" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-1">

            <div class="form-group">
                <label asp-for="order.KVARTIRA" class="control-label">Квартира</label>
                <input asp-for="order.KVARTIRA" class="form-control" readonly />
                <span asp-validation-for="order.KVARTIRA" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-1">

            <div class="form-group">
                <label asp-for="order.PODEST" class="control-label">Подъезд</label>
                <input asp-for="order.PODEST" class="form-control" readonly />
                <span asp-validation-for="order.PODEST" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-1">

            <div class="form-group">
                <label asp-for="order.ETAG" class="control-label">Этаж</label>
                <input asp-for="order.ETAG" class="form-control" readonly />
                <span asp-validation-for="order.ETAG" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">

            <div class="form-group">
                <label asp-for="order.KOD_DOMOFONA" class="control-label">Код домофона</label>
                <input asp-for="order.KOD_DOMOFONA" class="form-control" readonly />
                <span asp-validation-for="order.KOD_DOMOFONA" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2">

            <div class="form-group">
                <label asp-for="order.Msisdn1" class="control-label">Основной номер</label>
                <input asp-for="order.Msisdn1" class="form-control" readonly />
                <span asp-validation-for="order.Msisdn1" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">

            <div class="form-group">
                <label asp-for="order.Msisdn2" class="control-label">Доп номер 2</label>
                <input asp-for="order.Msisdn2" class="form-control" readonly />
                <span asp-validation-for="order.Msisdn2" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">

            <div class="form-group">
                <label asp-for="order.Msisdn3" class="control-label">Доп номер 3</label>
                <input asp-for="order.Msisdn3" class="form-control" readonly />
                <span asp-validation-for="order.Msisdn3" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="order.HOLODILNIK_DEFECT" class="control-label">Холодильник дефект</label>
                <input asp-for="order.HOLODILNIK_DEFECT" class="form-control" readonly />
                <span asp-validation-for="order.HOLODILNIK_DEFECT" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="order.VREMJA" class="control-label">Время ожидания</label>
                <input asp-for="order.VREMJA" class="form-control" readonly />
                <span asp-validation-for="order.VREMJA" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="order.Promocode" class="control-label">Промокод</label>
                <input asp-for="order.Promocode" class="form-control" readonly />
                <span asp-validation-for="order.Promocode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="order.PRIMECHANIE" class="control-label">Примечание</label>
                <input asp-for="order.PRIMECHANIE" class="form-control" readonly />
                <span asp-validation-for="order.PRIMECHANIE" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <br />
                    <input class="form-check-input" asp-for="order.Povtor" readonly disabled /> Повторная заявка
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="order.NameClient" class="control-label">Имя клиента</label>
                <input asp-for="order.NameClient" class="form-control" readonly />
                <span asp-validation-for="order.NameClient" class="text-danger"></span>
            </div>
        </div>

    </div>

</div>

@* Доп инфо *@
<hr />

<div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label font-weight-bold">Время создания</label>
                <input asp-for="order.GetDateAdd" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label font-weight-bold">Время отправки Мастеру</label>
                <input asp-for="order.GetDateSendMaster" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label font-weight-bold">Время открытия Мастером</label>
                <input asp-for="order.GetDateOpenMaster" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label font-weight-bold">Время закрытия </label>
                <input asp-for="order.GetDateClose" class="form-control" readonly />
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label font-weight-bold">Получено средств</label>
                <input asp-for="order.GetMoneyAll" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label font-weight-bold">Потрачено на детали</label>
                <input asp-for="order.GetMoneyDetal" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label font-weight-bold">В фирму</label>
                <input asp-for="order.GetMoneyFirm" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label font-weight-bold">Прибыль Мастера</label>
                <input asp-for="order.GetMoneyMaster" class="form-control" readonly />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label font-weight-bold">Описание закрытия (в случае отказа)</label>
                <input asp-for="order.DescripClose" class="form-control" readonly />
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label font-weight-bold">Создал заявку</label>
                <input asp-for="order.USER_ADD.Name" class="form-control" readonly />
            </div>

        </div>
    </div>



</div>



<hr />
<br />
<br />

<h3>История изменения статуса</h3>

@* Вывод истории статусов *@
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Статус
            </th>
            <th>
                Дата изменения
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.logStatusOrder)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateChange)
                </td>
            </tr>
        }
    </tbody>
</table>




@* Вывод предыдущих заявок, если они есть *@
@if (Model.PrevOrders.Count > 0)
{
    <br />
    <h3>Предыдущие заявки клиента</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Холодильник дефект
                </th>
                <th>
                    Имя клиента
                </th>
                <th>
                    Адрес
                </th>
                <th>
                    Дата
                </th>
                <th>
                    Время
                </th>
                <th>
                    Номер
                </th>
                <th>
                    Мастер
                </th>
                <th width="150">
                    Status
                </th>
                <th>
                    Дата создания
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PrevOrders)
            {
                <tr>
                    <td>
                        <a asp-action="DetailOrder" asp-route-id_zakaz="@item.ID_ZAKAZ"><b>@item.HOLODILNIK_DEFECT</b></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GetAdresFull)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GetDATA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VREMJA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Msisdn1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USER_MASTER.Name)
                    </td>
                    <td>
                        @switch (item.STATUS.NameStatus)
                        {
                            case "В ОЖИДАНИИ":<span class="label" style='background-color:@item.STATUS.ColorHex; padding: 6px;'>@item.STATUS.NameStatus</span> break;
                        case "ПОВТОР": <span class="label" style='background-color:@item.STATUS.ColorHex; padding: 6px;'>@item.STATUS.NameStatus</span> break;
                    case "ОТКАЗ": <span class="label" style='background-color:@item.STATUS.ColorHex; padding: 6px;'>@item.STATUS.NameStatus</span> break;
                case "В РАБОТЕ": <span class="label" style='background-color:@item.STATUS.ColorHex; padding: 6px;'>@item.STATUS.NameStatus</span> break;
            case "ВЫПОЛНЕН": <span class="label" style='background-color:@item.STATUS.ColorHex; padding: 6px;'>@item.STATUS.NameStatus</span> break;
        default: @item.STATUS.NameStatus; break;
}

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdd)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
