@model CRMBytholod.ViewModels.OrdersVM

@{
    ViewData["Title"] = "Заявки";
    Layout = "_LayoutFindTextOrder";
}

<h1>Заказы</h1>

<p>
    <a asp-action="CreateOrder"><input type="button" class="btn btn-info" value="Новый заказ" /> </a>
</p>

<hr />

@* Фильтр по заявкам *@



<div>

    <form asp-action="Orders" method="get" id="form">
        <input hidden asp-for="Page" value="@Model.Page" />
        <input hidden asp-for="Step" value="@Model.Step" />

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="filtrOrders.City" class="control-label">Населённый пункт</label>
                    <input asp-for="filtrOrders.City" class="form-control" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label asp-for="filtrOrders.Adres" class="control-label">Улица</label>
                    <input asp-for="filtrOrders.Adres" class="form-control" autocomplete="off" />

                    <input type="hidden" id="hfCustomer" name="CustomerId" />
                </div>


                <div class="form-group">
                    <label>Статус заказа</label>
                    <select asp-for="filtrOrders.ID_STATUS" class="form-control">
                        <option value="0">Все</option>
                        <option value="1">В ожидании</option>
                        <option value="4">В работе</option>
                        <option value="2">Повтор</option>
                        <option value="5">Выполнен</option>
                        <option value="3">Отказ</option>
                        <option value="7">Диагностика</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Выбрать мастера</label>
                    <select asp-for="filtrOrders.ID_Master" class="form-control">
                        <option value="-1">Все мастера</option>
                        @foreach (var item in Model.MASTERs)
                        {
                            <option value="@item.ID_USER">@item.Name</option>
                        }
                    </select>
                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="inputDate">Дата закрытия С:</label>
                    <input type="date" asp-for="filtrOrders.DateStart" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputDate">Дата закрытия ПО:</label>
                    <input type="date" asp-for="filtrOrders.DateEnd" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputDate">По конкретной дате</label>
                    <input type="date" asp-for="filtrOrders.DateOne" class="form-control">
                </div>

            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="filtrOrders.Msisdn" class="control-label">Номер телефона</label>
                    <input asp-for="filtrOrders.Msisdn" class="form-control" autocomplete="off" />
                </div>
                <div class="form-check">
                    <label class="form-check-label">Повторный заказ</label>
                    <br />
                    <input type="checkbox" class="form-check-input chekboxLarge" asp-for="filtrOrders.Povtor">
                </div>
                
                <div class="form-group">
                    <br /><br />
                    <br /><br />
                    <input class="btn btn-secondary" type="submit" value="Поиск" />
                    <br /><br />
                    <a asp-action="Orders"><input type="button" class="btn btn-info " value="Сбросить фильтр" /> </a>
                </div>
            </div>
        </div>
    </form>

    <hr />

    <p>Всего заказов: @Model.CountAllOrders</p>
    <br />
    <div class="row">
        <div class="col-md-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href='@Url.Action("Orders", "Home", new { page=1, 
                                                                    step=Model.Step,
                                                                    adres=Model.filtrOrders.Adres, dateStart=Model.filtrOrders.DateStart,
                                                                    dateEnd=Model.filtrOrders.DateEnd, povtor=Model.filtrOrders.Povtor,
                                                                    id_status=Model.filtrOrders.ID_STATUS,
                                                                    ID_Master=Model.filtrOrders.ID_Master,
                                                                    DateOne=Model.filtrOrders.DateOne,
                                                                    City=Model.filtrOrders.City
                                                                    }, null)'>В Начало</a>
                    </li>
                    @if (Model.Page > 1)
                    {
                        <li>
                            <a class="page-link" href='@Url.Action("Orders", "Home", new { page=Model.Page-1,
                                                                    step=Model.Step,
                                                                    adres=Model.filtrOrders.Adres, dateStart=Model.filtrOrders.DateStart,
                                                                    dateEnd=Model.filtrOrders.DateEnd, povtor=Model.filtrOrders.Povtor,
                                                                    id_status=Model.filtrOrders.ID_STATUS,
                                                                    ID_Master=Model.filtrOrders.ID_Master,
                                                                    DateOne=Model.filtrOrders.DateOne,
                                                                    City=Model.filtrOrders.City
                                                                    }, null)'>Назад</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link" href="#"><b>@Model.Page</b></a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href='@Url.Action("Orders", "Home", new { page=Model.Page+1,
                                                                    step=Model.Step,
                                                                    adres=Model.filtrOrders.Adres, dateStart=Model.filtrOrders.DateStart,
                                                                    dateEnd=Model.filtrOrders.DateEnd, povtor=Model.filtrOrders.Povtor,
                                                                    id_status=Model.filtrOrders.ID_STATUS,
                                                                    ID_Master=Model.filtrOrders.ID_Master,
                                                                    DateOne=Model.filtrOrders.DateOne,
                                                                    City=Model.filtrOrders.City
                                                                    }, null)'>Вперед</a>
                    </li>


                </ul>
            </nav>
        </div>
        <div class="col-md-3 col-md-offset-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @for (int i = 0; i < Model.Steps.Length; i++)
                    {
                        if (Model.Step == Model.Steps[i])//текущий выбранный параметр выделяется жирным
                        {
                            <li class="page-item">
                                <a class="page-link" href='@Url.Action("Orders", "Home", new { page = Model.Page,
                                                                    step = Model.Steps[i],
                                                                    adres=Model.filtrOrders.Adres, dateStart=Model.filtrOrders.DateStart,
                                                                    dateEnd=Model.filtrOrders.DateEnd, povtor=Model.filtrOrders.Povtor,
                                                                    id_status=Model.filtrOrders.ID_STATUS ,
                                                                    City=Model.filtrOrders.City   
                                                                    }, null)'><b>@Model.Steps[i]</b></a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href='@Url.Action("Orders", "Home", new {  page = Model.Page, 
                                                                    step = Model.Steps[i],
                                                                    adres=Model.filtrOrders.Adres, dateStart=Model.filtrOrders.DateStart,
                                                                    dateEnd=Model.filtrOrders.DateEnd, povtor=Model.filtrOrders.Povtor,
                                                                    id_status=Model.filtrOrders.ID_STATUS,
                                                                    City=Model.filtrOrders.City
                                                                    }, null)'>@Model.Steps[i]</a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>


    </div>

</div>


@* Вывод заявок *@
<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                ID
            </th>
            <th>
                Дата
            </th>
            <th>
                Населённый пункт
            </th>
            <th>
                Адрес
            </th>
            <th>
                Телефон
            </th>
            <th>
                Холодильник
            </th>
            <th>
                Время
            </th>
            <th>
                Мастер
            </th>
            <th width="165px">
                Статус
            </th>
            <th>
                Доставлено
            </th>
            <th>
                Кампания
            </th>
            <th>
                Промокод
            </th>
            <th>
                Примечание
            </th>
            <th>
                Вложение
            </th>
            <th width="90px">
                Приход ₽
            </th>
            <th>
                Комментарии
            </th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model.Orders)
        {
           @if (!String.IsNullOrEmpty(item.DayWeek_Date))
           {
               <tr>
                   <td colspan="17" align="center" bgcolor="#eee">
                       <h4>
                           @item.DayWeek_Date
                       </h4>
                   </td>
               </tr>
           }
           
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumRow)
            </td>
            <td>
                <a asp-action="DetailOrder" asp-route-id_zakaz="@item.ID_ZAKAZ"><b>@item.ID_ZAKAZ</b></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetDATA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetAdresNotCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Msisdn1)
            </td>
            <td>
                <a asp-action="DetailOrder" asp-route-id_zakaz="@item.ID_ZAKAZ"><b>@item.HOLODILNIK_DEFECT</b></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VREMJA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USER_MASTER.Name)
            </td>
            <td>
                <!--добавить кубик если повтор-->
                <div class="">
                    <span class="" style='background-color:@item.STATUS.ColorHex; padding: 6px;'>@item.STATUS.GetNameStatus</span>
                    
                    @if (item.Povtor)
                    {
                        <span class="" style='background-color:#FFEA00; padding: 6px;'>   </span>
                    }
                </div>

            </td>
            <td>
                <!--добавить одну галку две, две синие-->
                @if (item.GetStatusSend==1)
                 {
                    <image src="/onegal.png" width="30"/>
                 }
                 else
                 if (item.GetStatusSend==2)
                 {
                    <image src="/twogal.png" width="30"/>
                 }else
                 if (item.GetStatusSend==3)
                 {
                    <image src="/twogalblue.png"  width="30"/>
                 }


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORGANIZATION.NameOrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promocode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRIMECHANIE)
            </td>
            <td>
                -
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetMoneyFirmChangeAmount)
            </td>
            <td>
                -
            </td>

            </tr>
           


        
        }
    </tbody>
</table>
