@model CRMBytholod.ViewModels.ReportZakazMasterVM

@{
    ViewData["Title"] = "Отчет по заказам мастеров";
    Layout = "~/Views/Shared/_LayoutFindTextOrder.cshtml";


    var XLabelsZakazClose = Newtonsoft.Json.JsonConvert.SerializeObject(Model.DiagramLine_ZakazClose.Select(x => x.XdateStr).ToList());
    var YValuesZakazClose = Newtonsoft.Json.JsonConvert.SerializeObject(Model.DiagramLine_ZakazClose.Select(x => x.Y).ToList());

    var XLabelsDiagnostik = Newtonsoft.Json.JsonConvert.SerializeObject(Model.DiagramLine_Diagnostik.Select(x => x.XdateStr).ToList());
    var YValuesDiagnostik = Newtonsoft.Json.JsonConvert.SerializeObject(Model.DiagramLine_Diagnostik.Select(x => x.Y).ToList());

    var XLabelsDeny = Newtonsoft.Json.JsonConvert.SerializeObject(Model.DiagramLine_Deny.Select(x => x.XdateStr).ToList());
    var YValuesDeny = Newtonsoft.Json.JsonConvert.SerializeObject(Model.DiagramLine_Deny.Select(x => x.Y).ToList());

    var XLabelsPovtor = Newtonsoft.Json.JsonConvert.SerializeObject(Model.DiagramLine_PovtorMoney.Select(x => x.XdateStr).ToList());
    var YValuesPovtor = Newtonsoft.Json.JsonConvert.SerializeObject(Model.DiagramLine_PovtorMoney.Select(x => x.Y).ToList());

    var XLabelsPovtorNotRab = Newtonsoft.Json.JsonConvert.SerializeObject(Model.DiagramLine_PovtorNotMoney.Select(x => x.XdateStr).ToList());
    var YValuesPovtorNotRab = Newtonsoft.Json.JsonConvert.SerializeObject(Model.DiagramLine_PovtorNotMoney.Select(x => x.Y).ToList());


}


<div class="container">

    <h1>Отчет по заказам мастеров</h1>

    <div>

        <form asp-action="ReportZakazMaster" method="get">

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="inputDate">Дата закрытия С:</label>
                        <input type="date" asp-for="Filtr.Start" class="form-control">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="inputDate">Дата закрытия ПО:</label>
                        <input type="date" asp-for="Filtr.End" class="form-control">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Группировка по:</label>
                        <select asp-for="Filtr.GroupDate" class="form-control">
                            @if (Model.Filtr.GroupDate == 0)
                            {
                                <option value="0">Дням</option>
                            }
                            else
                              if ((int)Model.Filtr.GroupDate == 1)
                            {
                                <option value="1">Месяцам</option>
                            }
                            else
                              if ((int)Model.Filtr.GroupDate == 2)
                            {
                                <option value="2">Годам</option>
                            }

                            <option value="0">Дням</option>
                            <option value="1">Месяцам</option>
                            <option value="2">Годам</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Мастер</label>
                        <select asp-for="Filtr.ID_MASTER" class="form-control">
                            @foreach (var item in Model.Masters)
                            {
                                <option value="@item.ID_USER">@item.Name</option>
                            }

                        </select>
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="form-group">
                        <br />
                        <input class="btn btn-secondary" type="submit" value="Поиск" />
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <br />
                        <a asp-action="ReportZakazMaster"><input type="button" class="btn btn-info " value="Сбросить фильтр" /> </a>
                    </div>
                </div>

            </div>
        </form>

    </div>

    <br />
    <hr />
    <br />



    <table class="table">
        <thead>
            <tr>
                <th>
                    ФИО
                </th>
                <th>
                    Всего заказов шт
                </th>
                <th>
                    Выполнено шт
                </th>
                <th>
                    Выполнено %
                </th>
                <th>
                    Диагностик шт
                </th>
                <th>
                    Диагностик %
                </th>
                <th>
                    Отказов шт
                </th>
                <th>
                    Отказов %
                </th>
                <th>
                    Повтор рабочий шт
                </th>
                <th>
                    Повтор рабочий %
                </th>
                <th>
                    Повтор не рабочий шт
                </th>
                <th>
                    Повтор не рабочий %
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.reportZakazMasters)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIOMaster)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllZakaz) шт
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SUCCES_ed) шт
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.SUCCES_proc) %</b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DIAGNOSTIK_ed) шт
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.DIAGNOSTIK_proc) %</b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DENY_ed) шт
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.DENY_proc) %</b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.POVTORMoney_ed) шт
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.POVTORMoney_proc) %</b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.POVTORNotMoney_ed) шт
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.POVTORNotMoney_proc) %</b>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>


<div>
    <br />
    <br />
    <h2>Выполненные заказы</h2>
    <div>
        <canvas id="chartSucces" style="width:100%; height:300px"></canvas>
    </div>

    <br />
    <br />
    <h2>Диагностика</h2>
    <div>
        <canvas id="chartDiagnostik" style="width:100%; height:300px"></canvas>
    </div>

    <br />
    <br />
    <h2>Отказы</h2>
    <div>
        <canvas id="chartDeny" style="width:100%; height:300px"></canvas>
    </div>

    <br />
    <br />
    <h2>Повторы рабочие</h2>
    <div>
        <canvas id="chartPovtorRab" style="width:100%; height:300px"></canvas>
    </div>

    <br />
    <br />
    <h2>Повторы не рабочие</h2>
    <div>
        <canvas id="chartPovtorNotRab" style="width:100%; height:300px"></canvas>
    </div>

</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<script type="text/javascript">



/////// chartSucces
    $(function () {
        var chartName = "chartSucces";
            var ctx = document.getElementById(chartName).getContext('2d');
            var data = {
                    labels: @Html.Raw(XLabelsZakazClose),
                    datasets: [{
                        label: "Выполненные заказы",
                        backgroundColor: [
                            'rgba(254,192,1, 0)'
                        ],
                        borderColor: [
                            'rgba(254,192,1)'
                        ],
                        borderWidth: 2,
                        lineTension: 0,
                    data: @Html.Raw(YValuesZakazClose)
                    }]
                };

    var options = {
        maintainAspectRatio: false,
        smooth: false,
        fill: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: true,
                                color: "rgba(255,99,164,0.2)"
                            }
    }],
                        xAxes: [{
                            ticks: {
                                min: 0,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: false
                            }
                        }]
                    }
                };

           var myChart = new  Chart(ctx, {
                    options: options,
                    data: data,
                    type:'line'

                });
            });
    
/////// chartDiagnostik
    $(function () {
        var chartName = "chartDiagnostik";
            var ctx = document.getElementById(chartName).getContext('2d');
            var data = {
                    labels: @Html.Raw(XLabelsDiagnostik),
                    datasets: [{
                        label: "Диагностика",
                        backgroundColor: [
                        'rgba(75, 112, 142, 0)'  
                        ],
                        borderColor: [
                            'rgba(254,192,1)'
                        ],
                        borderWidth: 2,
                        lineTension: 0,
                    data: @Html.Raw(YValuesDiagnostik)
                    }]
                };

    var options = {
        maintainAspectRatio: false,
        smooth: false,
        fill: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: true,
                                color: "rgba(255,99,164,0.2)"
                            }
    }],
                        xAxes: [{
                            ticks: {
                                min: 0,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: false
                            }
                        }]
                    }
                };

           var myChart = new  Chart(ctx, {
                    options: options,
                    data: data,
                    type:'line'

                });
            });
    
/////// chartDeny
    $(function () {
        var chartName = "chartDeny";
            var ctx = document.getElementById(chartName).getContext('2d');
            var data = {
                    labels: @Html.Raw(XLabelsDeny),
                    datasets: [{
                        label: "Отказы",
                        backgroundColor: [
                        'rgba(75, 192, 192, 0)'
                        ],
                        borderColor: [
                            'rgba(254,192,1)'
                        ],
                        borderWidth: 2,
                        lineTension: 0,
                    data: @Html.Raw(YValuesDeny)
                    }]
                };

    var options = {
        maintainAspectRatio: false,
        smooth: false,
        fill: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: true,
                                color: "rgba(255,99,164,0.2)"
                            }
    }],
                        xAxes: [{
                            ticks: {
                                min: 0,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: false
                            }
                        }]
                    }
                };

           var myChart = new  Chart(ctx, {
                    options: options,
                    data: data,
                    type:'line'

                });
            });
    
/////// chartPovtorRab
    $(function () {
        var chartName = "chartPovtorRab";
            var ctx = document.getElementById(chartName).getContext('2d');
            var data = {
                    labels: @Html.Raw(XLabelsPovtor),
                    datasets: [{
                        label: "Повторы рабочие",
                        backgroundColor: [
                        'rgba(153, 102, 255, 0)'
                        ],
                        borderColor: [
                            'rgba(254,192,1)'
                        ],
                        borderWidth: 2,
                        lineTension: 0,
                    data: @Html.Raw(YValuesPovtor)
                    }]
                };

    var options = {
        maintainAspectRatio: false,
        smooth: false,
        fill: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: true,
                                color: "rgba(255,99,164,0.2)"
                            }
    }],
                        xAxes: [{
                            ticks: {
                                min: 0,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: false
                            }
                        }]
                    }
                };

           var myChart = new  Chart(ctx, {
                    options: options,
                    data: data,
                    type:'line'

                });
            });
    
/////// chartPovtorNotRab
    $(function () {
        var chartName = "chartPovtorNotRab";
            var ctx = document.getElementById(chartName).getContext('2d');
            var data = {
                    labels: @Html.Raw(XLabelsPovtorNotRab),
                    datasets: [{
                        label: "Повторы не рабочие",
                        backgroundColor: [
                            'rgba(175, 142, 192, 0)'
                        ],
                        borderColor: [
                            'rgba(254,192,1)'
                        ],
                        borderWidth: 2,
                        lineTension: 0,
                    data: @Html.Raw(YValuesPovtorNotRab)
                    }]
                };

    var options = {
        maintainAspectRatio: false,
        smooth: false,
        fill: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: true,
                                color: "rgba(255,99,164,0.2)"
                            }
    }],
                        xAxes: [{
                            ticks: {
                                min: 0,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: false
                            }
                        }]
                    }
                };

           var myChart = new  Chart(ctx, {
                    options: options,
                    data: data,
                    type:'line'

                });
            });

</script>